.card-content {
	display: flex;
	justify-content: space-between;
	height: auto;
	/*box-shadow: 0 2px 6px 2px rgba(0,0,0,0.2);*/
}
.content-left img {
	width: 200px;
	height: 240px;
	/*box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);*/
}
.content-left p {
	margin-top: 10px !important;
	text-align: center;
}

.content-right {
	margin-left: 50px;
	flex-grow: 1;

}
.input-field {
	margin-top: 0;
}
.file-field .file-path-wrapper {
	padding: 0;
}
.my-input {
	width: 100%;
}
.file-field input.file-path {
	border :1px solid rgb(169, 169, 169);
	/*width: 400px;*/
}
textarea {
	height: 100px;
	margin-bottom: 15px;
	margin-top: 15px;
}
.red-star {
	color : red;
	/*margin-left: 10px;*/
	margin-right: 20px;
	float: right;
}
.file-field .btn, .file-field .btn-large {
	float: right ;
	padding : 0 70px !important;
	border : 1px solid rgb(169, 169, 169);
	box-shadow: none;
	height: 47px;
	border-radius: 0;
}

.form-line {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.left {
	flex-basis: 180px;
}
.left p {
	line-height: 40px;
	height: 40px;
}
.right {
	flex-basis: 750px;
	/*width: 400px;*/
	padding : 0 20px;
}
.right-2 {
	display: flex;
	justify-content: space-between;
}
.right-2 .right-divide, .right-2 .right-2-right {
	/*flex-grow : 1;*/
	flex-basis: 48%;
}

.save-buttons {
	display: flex;
	justify-content: flex-end;
}
.save-buttons button {
	margin-left: 10px;
}
.close-button {
	background-color: transparent !important;
	border : 1px solid #f0141e;
	color : #f0141e;
	/*	font-weight: 500 !important;*/
}
.close-button:hover {
	color : #fff;
}





input[type="number"] {
	text-align: right;
}
/*.input-field.col label*/

.active p {
	font-size: 18px;
	color : #333;
}

/*vue multiselect */
.multiselect__tags {
	padding: 0;
	border : none;
	margin-bottom: 10px;
	border-bottom: 1px solid #9e9e9e;
	border-radius: 0;
}
/*input focus style*/
.multiselect__tags:focus-within {
	/*border-bottom: 1px solid #41b883;*/
	box-shadow: 0 1px 0 0 #41b883;
}
/*input focus style*/
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
	border : none;
	box-shadow: none;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
	margin : 0 0 0 0;
	border-color: red;
	border : none;
}
/*file input */
.file-path {
	margin-bottom: 8px !important;
	box-shadow: none ;
}
/*title input*/
.title-input {
	margin-bottom: 10px !important;
	box-shadow: none !important;
}
.title-input:focus, textarea:focus {
	box-shadow: 0 1px 0 0 #41b883 !important;
	outline: none;
}
/*price input*/
.input-price-label {
	top: 18px !important;
	left: -20px !important;
	font-size: 2rem !important;
	color : #333 !important;
}

.price-input{
	box-shadow: none !important;
}
.price-input:focus {
	/*background-color: red !important;		*/
	box-shadow: 0 1px 0 0 #41b883 !important;
}
/*set all input width */
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
	width: auto;
}

.full-width {
	width: 100% !important;
	border-bottom: 1px solid #9e9e9e !important;
}

.all-border {
	border : 1px solid #9e9e9e !important;
}


.upload-ebook {
	margin-bottom: 15px;
}

.file-path-wrapper input[type=text] {
	box-shadow: none !important;
}
