/*====================*/
/*Order list styles
/*====================*/
.with-gap + label {
	margin-right: 15px !important;
	padding-left: 25px !important;
}
.content-up-right .group-3 {
	display: flex;
}
 .radio-group-1, .radio-group-2{
	display: flex;
	height: 40px;
	line-height: 40px;
}

.radio-group-1{
	margin-right: 15px;
}
.radio-group-2 {
	opacity: 0;
}

.show-radio {
	display: flex;
	opacity: 1;
	transition : all .3s ease-out;
}

