
* {
	margin : 0;
	padding : 0;
	font-size: 14px;
	font-weight: 400 !important;
	font-family: Roboto;
}

h1,h2{
	padding: 0;
	margin: 0;
	font-size: 2.0rem;
}
h3 {
	padding: 10px 0px;
	margin:0 20px;
	border-bottom: 2px solid #f5f5f5;
	/*	font-size: 1.5em;*/
	font-size: 28px;
	color : rgba(0, 0, 0, 0.5);

}
h4{
	margin:0 20px;
	padding:10px 0px;
	font-size:28px;
	color : rgba(0, 0, 0, 0.5);
}
p {
	margin: 0;
}
a {
	color : #fff;
}
span.badge {
	color : #fff;
	position: relative;
	top: -10px;
	left: -60px;
	min-width: 20px;
	height: 20px;
	background-color: #f0141e;
	border : 1px solid #f0141e;
	border-radius: 60%;
}
thead th {
	font-weight: bold !important;
}
th,td {
	text-align: center;
}

/*input focus border-bottom color*/


/*input.valid:not([type]), input.valid:not([type]):focus, input[type=text].valid:not(.browser-default), input[type=text].valid:not(.browser-default):focus, input[type=password].valid:not(.browser-default), input[type=password].valid:not(.browser-default):focus, input[type=email].valid:not(.browser-default), input[type=email].valid:not(.browser-default):focus, input[type=url].valid:not(.browser-default), input[type=url].valid:not(.browser-default):focus, input[type=time].valid:not(.browser-default), input[type=time].valid:not(.browser-default):focus, input[type=date].valid:not(.browser-default), input[type=date].valid:not(.browser-default):focus, input[type=datetime].valid:not(.browser-default), input[type=datetime].valid:not(.browser-default):focus, input[type=datetime-local].valid:not(.browser-default), input[type=datetime-local].valid:not(.browser-default):focus, input[type=tel].valid:not(.browser-default), input[type=tel].valid:not(.browser-default):focus, input[type=number].valid:not(.browser-default), input[type=number].valid:not(.browser-default):focus, input[type=search].valid:not(.browser-default), input[type=search].valid:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown{
	border-bottom: 1px solid #333 !important;
	box-shadow: none;
}*/
/*================*/
/*input style color*/
/*================*/

.dropdown-content li>a, .dropdown-content li>span {
	color : #333 !important;
}
/*.dropdown-content{

	width:200px !important;
	height:100px;
	margin-top: 30px;
	margin-left:15px;


}*/

[type="checkbox"].filled-in:checked+label:after {
	background-color : #f0141e !important;
	border : 2px solid #f0141e !important;
}

.btn, .btn-large, .btn-flat{
	padding: 0 0.7rem !important;
	box-shadow: none;
}
.btn, .btn-large, .btn-floating, .btn-large, .btn-flat {
	font-size: 14px;
}
/*table buttons*/
.btn-floating {
	background-color: transparent !important;
	border : none !important;
	box-shadow: none;
	width: 30px;
	height: 30px;
	line-height: 30px;
}
.btn-floating i {
	font-size: 1.3rem;
	color : #333;
	width: 30px;
	height: 30px;
	line-height: 30px;
}
.btn-floating:hover {
	background-color: transparent !important;
	box-shadow: none;
}
/*td .btn-floating:first-child {
	margin-right: 5px;
}*/
td .fa-trash-o {
	color : #f0141e;
}
td .btn-floating {
	margin-left: 5px;
}
/*td .btn-floating:first-child i {
	color : #333;
}*/

.input-field .btn {
	background-color: #f0141e !important;
}
.input-field .btn:hover {
	background-color: #f0141e !important;
}
/*buttons background-color*/
.btn {
	background-color: #f0141e !important;
}
.btn:hover {
	background-color: #f1242d !important;
}





/*Header Style*/
header {
	/*position: fixed;*/
	/*top: 0;*/
	/*left: 0;*/
	/*z-index: 5;*/
	/*width: 100%;*/
	/*padding : 8px 15px;*/
	/*padding-left: 0;*/
	/*height: 50px;*/
	/*display : flex;*/
	/*justify-content: flex-end;*/
	/*color : #333;*/
	/*background-color: #f5f5f5;*/

	/*border-bottom: 1px solid rgb(169, 169, 169);*/
	/*box-shadow : 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);*/
}
.header a {
	color: #333 !important;
	font-weight: 500 !important;
}


.right-header {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	justify-content: flex-end;
}
.right-header .inside-right {
	display: flex;
	align-self: center;
}
#close-btn {
	position: relative;
	top: -5px;
	background-color: transparent;
	border : none;
	margin-right: 18px;
	display: inline-block !important;
}
.side-header h1 {
	display: inline-block !important;
	text-transform: uppercase;
}

li {
	list-style: none;
	cursor: pointer;
}
.dropdown-button {
	background-color: transparent;
}

/*Main Style*/
.main {
	/*width: 100%;*/
	display: flex;
	height: 90vh;
}
.side-header {
	padding: 8px 20px;
	color: #fff;
	background-color: #f0141e !important;
	overflow: hidden;
	white-space: nowrap;
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 200px;
	height: 100%;
	z-index: 5;
	background-color: #d40e17 !important;
	float: left;
	transition: width .2s ease-out;
	/*box-shadow : 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);*/
}
.grow-sideBar {
	width: 60px;
	transition: width .2s ease-out;
}
/*.sidebar:hover {
	width:200px;
	z-index: 4;
	transition: width .2s ease-out;
}*/

.sidebar li a i {
	font-size: 20px;
	margin-right: 18px;
}
.sidebar li {
	white-space: nowrap;
	overflow: hidden;
}
.sidebar li:hover {
	background-color: #FFF;
}
.sidebar li:hover a{
	color:#000;
}
/*.sidebar li.selected:hover {
	background-color: #a50b12;
}*/
.sidebar li a {
	color:#fff;
	padding: 15px 20px;
	display: block;
}


.selected{
	background-color: #fff;
}
.selected a{
	color:#000!important;
}
/*Content Style*/
.content {
	flex-grow: 1;
	position: relative;
	top: 50px;
	left: 0;
	margin-left: 200px;
	height: 100%;
	padding: 20px 20px;
	display: flex;
	flex-direction: column;
}

.content-up {
	display: flex;
	margin-top: 20px;
	justify-content: space-between;
}
/*.filter-btn {
	color : #333;
	border : 1px solid #333;
	padding: 0 15px;
	display: block;
	width: 200px;
	align-items: center;
	height: 40px;
	line-height: 40px;
	margin-right: 20px;

}*/
.filter-caret {
	position: relative;
	top: 0;
	right: -90px;
}

/*filter FIX START HERE*/
.search-bar {
	display: flex;
}
.search-box {
	width: 150px !important;
	height: 39px !important;
	outline: none;
	padding : 0 0 0 10px !important;
	border : 1px solid #333 !important;
}
.search-btn {

	height: 41px;
	background-color: rgb(77, 145, 252);
	padding: 0 25px;
	border: 1px solid transparent;
}
.search-btn:focus {
	background-color: rgb(77, 145, 252);
}
.search-btn i {
	color : #fff;
}
/*.search-box:focus {
	border-bottom: none !important;
}*/
.content-up-right {
	display: flex;
	justify-content: space-between;
}

.content-up-right p {
	margin: 0;
}

/*Filter-box */
.filter-box {
	margin-right: 20px;
}
.select-wrapper input.select-dropdown {
	border : 1px solid #333;
	height: 39px;
	padding: 0 10px;
	padding-right: 0;
}
/*fix end here*/
.filter-box span.caret {
	line-height: 39px !important;
	height: 39px !important;
	margin: 0 !important;
}

.consigment-checkbox {
	margin-top: 10px;
	left: -10px !important;
	position: relative;
	padding-left: 25px !important;
	color : #333;
}
.checkbox-header .box {
	width: 19px;
	height: 19px;
	position: relative;
	left: 10px;
	border : 2px solid #333;
	cursor: pointer;
}
[type="checkbox"]+label {
	left: 10px;
}

.card-content{
	/*box-shadow: 0 2px 2px 2px rgba(0,0,0,0.2);*/
	height: auto;
	box-shadow: none;
	padding: 20px;
	/*border : 1px solid rgb(169, 169, 169);*/
	margin-bottom: 30px;
}

.paginations {
	/*border : 1px solid #333;*/
	/*width: 400px;*/
	height: 60px;
	margin: 0 auto;
	text-align: center;
}
.paginations p {
	height: 60px;
	line-height: 60px;
	text-align: center;
}

/*Total Amount*/
.total-row:hover {
	background-color: transparent !important;
}
.total-amount {
	font-weight: bold;
	text-transform: capitalize;
}


/*Vue Styles*/
.multiselect__tags {
	padding: 0;
	border : none;
	border-radius: 0;
}


.search-input {
	border : 1px solid #333 !important;
	height: 39px;
	z-index: 3;
	margin-right: 10px;
	width: 180px;
}
.search-input .multiselect__tags {
	height: 39px !important;
}
.search-input .multiselect__input {
	border-bottom: none !important;
	padding : 0 10px !important;
	padding-left: 5% !important;
	width: 95% !important;
}
.search-input .multiselect__input:focus {
	border-bottom: none !important;
	box-shadow: none !important;
}

.search-input .multiselect__select:before {
	border-color : #000 transparent transparent !important;
	border-width: 7px 4px 0 !important;
}
.search-input .multiselect__select {
	z-index: 5 !important;
	/*need to change too*/
	width: auto !important;
	padding: 4px 10px !important;
}

.search-input input {
	height: 100% !important;
}

.multiselect__input, .multiselect__single {
	line-height: 39px !important;
}

/*************   Start   ***********/
.datalist {
	flex-grow: 1;
	position: relative;
	top: 50px;
	left: 0;
	margin-left: 200px;
	height: 100%;
	padding: 20px 20px;
	display: flex;
	flex-direction: column;
}
.content-up-left{
	padding-bottom:25px;
}
.modal-header{
	padding-bottom: 8px !important;
}
#modal1 {
	width: 30% !important ;
	height: 37% !important ;
}

#modal2 {
	width: 30% !important ;
	height: 45% !important ;
}
#stock_modal {
	width: 40% !important ;
	height: 70% !important ;
}
#stock_modal .multiselect__input,.multiselect__tags{
	background:#FAFAFA!important;
}

#user-modal{
	width:30% !important;
	height: 58% !important;
}
#user-modal span{
	padding:0px;
	margin:0px;
	font-size:12px;
}
.add-btn{
	color:red;
}
.error{
	color:red;
	font-size:12px !important;
	min-height: 10px;
}
.date_picker{
	margin-right:2em;
}
h5{
	padding: 15px 0px;
	margin:0 20px;
	/*border-bottom: 2px solid #f5f5f5;*/
	/*	font-size: 1.5em;*/
	font-size:1em;
	color : rgba(0, 0, 0, 0.5);

}
.datepicker{
	/*border:1px solid grey!important;*/
	height:2.5em !important;
}

/* *************    start collapsible sidebar     ****************** */
.collapsible-dropdown{
	padding:0!important;
	margin:0 !important;
}

.collapsible-body,.collapsible{
	border:0px;
	padding:0px;

}
.collapsible-header{
	background-color: #d40e17 !important;
	color:#FFF;
	border-bottom: 0px;
}
.collapsible-header:hover{
	background-color: #FFF!important;
	color:#000!important;
}
.collapsible-header.active{
	background-color: #FFF!important;
	color:#000!important;
}


.collapsible-body li{
	background-color:#F0141E;
	padding-left:30px !important;
}

.collapsible-body a{
	color:#fff!important;
	font-size:12px;
}
.collapsible-body .fa{
	font-size:10px !important;
}

.collapsible-body li:hover a{
	color:#000!important;
}
.collapsible-body li:active{
	background-color: #fff;
}
.btn-save{
	padding:0em 2em !important;
	background-color:#4D91FC!important;
}
.btn-save:hover{
	background-color:#4D91FC!important;
}

/* *************   end collapsible sidebar     ****************** */

.content-upp{
	display: flex;
	justify-content: space-between;
}
div#mceu_30{
	display: none;
}
div#mceu_31,
div#mceu_30-body{
	display: none;
}
div#mceu_29{
	border-top-color: transparent;
}
.mce-tinymce, .mce-container-body, #code_ifr {
	min-height: 100% !important;
}
/*Container body*/
.mce-container-body {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
/*Editing area*/
.mce-container-body .mce-edit-area {
	position: absolute;
	top: 69px;
	bottom: 37px;
	left: 0;
	right: 0;
}
/*Footer*/
.mce-tinymce .mce-statusbar {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
#delete-modal{
	width:21% !important;
	height:28% !important;
}

/*************   End   ***********/



