.spotlight {
	margin-top: 30px;
	background-color: #181818!important;
	width: 100%;
	height:20%;
	padding: 20px 0 0 0 ;
}

/*.spotlight-left {
	border-right: 1px solid #333;
}
*/.spotlight-left:after {
	content: '';
	width: 1px;
	height: 100%;
	background-color: #333;
	position: absolute;
	top: 0;
	right: 20px;
}

.spotlight-right:before {
	content : '';
	position: absolute;
	top: 0;
	left: 5px;
	width: 1px;
	height: 100%;
	color : #f0f0f0;
}