@import url(https://fonts.googleapis.com/css?family=Montserrat:800);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
html,body{
	width: 100%;
	height: 100%;
}
.wow{
	animation-duration: 0.2s;
}
/**/
nav.navbar1{
	width: 100%;
	margin: auto;
	padding: 20px;
	background-color: transparent;
	border-bottom-color: transparent;
}
nav.navbar1>div{
	width: 100%;
	margin: 0px;
}
/*.navbar-brand img{
	padding-bottom: 50px!important;
	margin-top: 0px;
	margin-bottom: 8px;
}*/
nav.navbar1>div>div>a{
	width: 110px;
	height: 50px;
	padding: 0px;
}
nav.navbar1>div>div>a>img{
	width: 80px;
}
div.collapse.navbar1>ul.nav>li>a{
	color: #FFF;
	font-size: 18px;
}

div.collapse.navbar1>ul.nav>li.active>a{
	color: #b00723;
	background-color: transparent;
}
div.collapse.navbar1>ul.nav>li>a.btn{
	background-color: #c41230;
	color: #FFF;
	cursor: pointer;
	border-radius: 0px;
	padding: 7px 15px;
	font-size: 15px;
	margin-top: 7px;
	margin-left: 20px;
}
nav.navbar1.change{
	width: 100%;
	margin: auto;
	padding: 20px;
	background-color: #fff;
	border-bottom-color: #fff;
}
nav.navbar1.change div.collapse.navbar1>ul.nav>li>a{
	color:#000;
}
nav.navbar1.change div.collapse.navbar1>ul.nav>li.active>a{
	color:#b00723;
}
nav.navbar1.change div.collapse.navbar1>ul.nav>li>a.btn{
	color:#FFF;
}

/**/

.div_1.blogpage{
	width: 100%;
	height: 350px;
	background-color: #daf0ec;
	float: left;
	clear: both;
	background-size: cover;
	background-position: top;
	background-attachment: scroll;
}
.div_1.blogpage>h1{
	font-family: 'Montserrat', sans-serif;
	margin-top: 195px;
	text-align: center;
	color: #fff;
	font-size: 50px;
}
.div_2.blogpage{
	width: 100%;
	min-height: 1000px;
	padding: 50px 0px 40px 0px;
	float: left;
	clear: both;
	background-color:#FFF;
}
.div_2.blogpage>div{
	width: 100%;
	height: 100%;
	margin: auto;
}
.div_2.blogpage>div>div.small1{
	width: 100%;
	min-height: 1000px;
	float: right;
}
.div_2.blogpage>div>div.small1>div{
	width: 100%;
	height: 600px;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.div_2.blogpage>div>div.small1>div>img{
	width: 100%;
	float: left;
	margin-right: 0px;
}
.div_2.blogpage>div>div.small1>div>div{
	width: 100%;
	height: 210px;
	float: left;
}
.div_2.blogpage>div>div.small1>div>div>div{
	width: 100%;
	height: 30px;
	float: left;
	clear: both;
}
.div_2.blogpage>div>div.small1>div>div>div>a{
	color: #7f7f7f;
	margin-right: 30px;
}
.div_2.blogpage>div>div.small1>div>div>h2{
	font-family: 'Montserrat', sans-serif;
	color: black;
	margin: 0px;
}
.div_2.blogpage>div>div.small1>div>div>p{
	padding: 20px 0px;
	float: left;
	clear: both;
	margin-bottom: 0px;
	color: #7f7f7f;
}
.div_2.blogpage>div>div.small1>div>div>a.btn{
	font-family: 'Montserrat', sans-serif;
	color: black;
	font-size: 18px;
	padding: 0px;
}
.div_2.blogpage>div>div.small1>div>div>a>span{
	font-size: 12px;
}
.div_2.blogpage>div>div.small2{
	width: 100%;
	height: 100%;
	float: right;
}
.div_2.blogpage>div>div.small2>div{
	width: 100%;
	padding: 10px;
}
.div_2.blogpage>div>div.small2>div>h2{
	margin: 10px 0px;
	color: #000;
}
div.h2_divider{
	width: 70px;
	height: 0px;
	border-top: 1px solid #c41230;
	border-bottom: 2px solid #c41230;
}
.div_2.blogpage>div>div.small2>div>a{
	width: 100%;
	padding: 5px 0px;
	color: black;
	border-radius: 0px;
	text-align: left;
	color: #7f7f7f;
}
.div_2.blogpage>div>div.small2>div>a:hover{
	color: #c41230;
	transition: 0.3s;
}
.div_3.blogpage{
	width: 100%;
	box-shadow: 0px 0px 5px #7f7f7f;
	float: left;
	clear: both;
	padding: 30px 0px;
}
.div_3.blogpage>div{
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	margin: auto;
}
.div_3.blogpage>div>p.a{
	width: 300px;
	color: #7f7f7f;
	margin: 0px;
	padding: 0px;
	float: left;
}
.div_3.blogpage>div>p.a>a{
	color: #c41230;
}
.div_3.blogpage>div>p.b{
	float: right;
	margin: 0px;
	color: #c41230;
}
.blogdetail img{
	width:90%;
	height: 500px;
	padding:4em 0 0 10em;
}
.blogdetail .a a{
	color:#7f7f7f;
}

.blogdetail .a a:hover{
	
	cursor:text;
	text-decoration:underline;
}
.detail{
	padding-top: 2em;
	padding-left: 4em;
}

.blogdetail h1{
	
	color: #000;
	
	text-align: left;
	font-size: 36px;
}
.blogdetail p{
	margin: 0;
	font-size: 16px;
	color: #7f7f7f;
	text-align: justify;
}
/*.div_2.blogdetail{
	width: 100%;
	float: left;
	clear: both;
}
.div_2.blogdetail>div{
	width: 100%;
	margin: auto;
	padding: 60px 10px;
	
}
.div_2.blogdetail>div>img{
	width: 100%;
}
.div_2.blogdetail>div>div.a{
	width: 100%;
	padding: 20px 0px;
	text-align: left;
}
.div_2.blogdetail>div>div>a{
	margin-right: 40px;
	color: #7f7f7f;
}
.div_2.blogdetail>div>h1{
	color: black;
	margin: 10px 0px;
	text-align: left;
}
.div_2.blogdetail>div>p{
	margin: 0;
	padding: 30px 0px;
	font-size: 16px;
	color: #7f7f7f;
	text-align: left;
}
.div_2.blogdetail>div>div.b{
	border-left: 4px solid #c41230;
	margin-top: 20px;
	text-align: left;
}
.div_2.blogdetail>div>div>p{
	font-size: 18px;
	font-style: italic;
	color: #7f7f7f;
	padding: 25px;
	margin: 0px;
}
.div_2.blogdetail>div>a{
	font-size: 16px;
	color: black;
}
.div_2.blogdetail>div>a:hover{
	color: #c41230;
}
.div_2.blogdetail>div>a>span{
	font-size: 12px;
}*/

@media only screen and (min-width: 576px){

}

@media only screen and (min-width: 768px){
nav.navbar1{
	width: 768px;
}
nav.navbar1.change{
	width: 768px;
	margin: auto;
	padding: 20px 20px;
	background-color: #fff;
	border-bottom-color: #fff;
	box-shadow: 0px 0px 5px #7f7f7f;
}
.div_2.blogpage{
	min-height: 1000px;
}
.div_2.blogpage>div{
	width: 768px;
}
.div_2.blogpage>div>div.small1{
	width: 500px;
}
.div_2.blogpage>div>div.small1>div{
	height: 600px;
	padding-top: 40px;
	padding-bottom: 20px;
	margin-right: 40px;
}
.div_2.blogpage>div>div.small1>div>img{
	width: 460px;
	height: 280px;
	margin: 20px;
}
.div_2.blogpage>div>div.small1>div>div{
	width: 500px;
	height: 230px;
	padding: 20px;
}
.div_2.blogpage>div>div.small1>div>div>div{
	width: 100%;
	height: 30px;
}
.div_2.blogpage>div>div.small1>div>div>h2{
	font-family: 'Montserrat', sans-serif;
}
.div_2.blogpage>div>div.small1>div>div>p{
	padding: 20px 0px;
}
.div_2.blogpage>div>div.small2{
	width: 268px;
}
.div_2.blogpage>div>div.small2>div{
	padding: 10px;
}
.div_2.blogpage>div>div.small2>div>h2{
	margin: 10px 0px;
}
.div_2.blogpage>div>div.small2>div>a{
	padding: 5px 0px;
}
.div_3.blogpage>div{
	width: 768px;
}
.div_2.blogdetail>div{
	width: 768px;
	padding-left: 20px;
	padding-right: 20px;
}
}

@media only screen and (min-width: 991px){
nav.navbar1{
	width: 991px;
}
nav.navbar1.change{
	width: 991px;
	margin: auto;
	padding: 20px 20px;
	background-color: #fff;
	border-bottom-color: #fff;
}
.div_3.blogpage>div{
	width: 991px;
}
.div_2.blogdetail>div{
	width: 991px;
	padding-left: 20px;
	padding-right: 20px;
}
}

@media only screen and (min-width: 1024px){
nav.navbar1{
	width: 1024px;
}
nav.navbar1>div{
	width: 984px;
}
nav.navbar1.change{
	width: 1024px;
	margin: auto;
	padding: 20px;
	background-color: #fff;
	border-bottom-color: #fff;
}
.div_2.blogpage{
	min-height: 1000px;
}
.div_2.blogpage>div{
	width: 1024px;
}
.div_2.blogpage>div>div.small1{
	width: 800px;
}
.div_2.blogpage>div>div.small1>div{
	height: 320px;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-right: 40px;
}
.div_2.blogpage>div>div.small1>div>img{
	width: 300px;
	height: 200px;
	margin: 0px 20px 0px 0px;
}
.div_2.blogpage>div>div.small1>div>div{
	width: 460px;
	height: 220px;
	padding: 10px 10px 0px 0px;
}
.div_2.blogpage>div>div.small1>div>div>div{
	width: 100%;
	height: 30px;
}
.div_2.blogpage>div>div.small1>div>div>h2{
	font-family: 'Montserrat', sans-serif;
}
.div_2.blogpage>div>div.small1>div>div>p{
	padding: 20px 0px;
}
.div_2.blogpage>div>div.small2{
	width: 224px;
}
.div_2.blogpage>div>div.small2>div{
	padding: 10px;
}
.div_2.blogpage>div>div.small2>div>h2{
	margin: 10px 0px;
}
.div_2.blogpage>div>div.small2>div>a{
	padding: 5px 0px;
}
.div_3.blogpage>div{
	width: 1024px;
}
.div_2.blogdetail>div{
	width: 1024px;
	padding-left: 20px;
	padding-right: 20px;
}
}

@media only screen and (min-width: 1200px){
nav.navbar1{
	width: 1200px;
}
nav.navbar1>div,
nav.navbar1.change>div{
	width: 1160px;
	margin: auto;
}
nav.navbar1.change{
	width: 100%;
	margin: auto;
	padding: 20px;
	background-color: #fff;
	border-bottom-color: #fff;
}
.div_2.blogpage{
	min-height: 1000px;
}
.div_2.blogpage>div{
	width: 1200px;
}
.div_2.blogpage>div>div.small1{
	width: 880px;
}
.div_2.blogpage>div>div.small1>div{
	height: 300px;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-right: 40px;
}
.div_2.blogpage>div>div.small1>div>img{
	width: 300px;
	height: 200px;
	margin-right: 20px;
}
.div_2.blogpage>div>div.small1>div>div{
	width: 540px;
	height: 230px;
}
.div_2.blogpage>div>div.small1>div>div>div{
	width: 100%;
	height: 30px;
}
.div_2.blogpage>div>div.small1>div>div>h2{
	font-family: 'Montserrat', sans-serif;
}
.div_2.blogpage>div>div.small1>div>div>p{
	padding: 20px 0px;
}
.div_2.blogpage>div>div.small2{
	width: 320px;
}
.div_2.blogpage>div>div.small2>div{
	padding: 10px;
}
.div_2.blogpage>div>div.small2>div>h2{
	margin: 10px 0px;
}
.div_2.blogpage>div>div.small2>div>a{
	padding: 5px 0px;
}
.div_3.blogpage>div{
	width: 1200px;
}
.div_2.blogdetail>div{
	width: 1200px;
	padding-left: 20px;
	padding-right: 20px;
}
}

@media only screen and (min-width: 1400px){

}

@media only screen and (min-width: 1600px){

}

@media only screen and (min-width: 1800px){

}

@media only screen and (min-width: 1920px){

}

/********** STRAT ***************/
.blogpage{
	background-color: white!important;
}
/************* END *************/