.product-view {
	margin-top: 100px;
}

.book-image {
	border : 1px solid #ccc;
	box-shadow: 0 0 3px #E0E0E0;
	border-radius: 3px;
}
.book-image img {
	width: 95%;
	margin: 2.5%;
}

.book-name {
	font-size: 200%;
	font-weight: 300;
	margin: 0;
	margin-bottom: 18px;

}

.rating {
	font-size: 12px;
	line-height: 20px;
	margin: 18px 0 ;
	height: 15px;
}

.rating-box {

	width: 65px;
	float: left;
	font-size: 11px;
	color : #f9ac20;
	margin-right: 10px;
}

.rating-link{

	float: left;
	margin: 0;
}
.rating-link a {
	color : red;
	font-size: 12px;
	font-weight: 300;
}
.rating-link a:hover {
	border-bottom: 1px solid red;
}

.availability {
	font-size: 12px;
	margin-bottom: 18px;
}
.availability span {
	font-size: 13px;
	font-weight: 400;
}

/*Quantity box */
.qty-box {
	float: left;
	width: 100%;
	height: 28px;
	margin-bottom: 20px;
}
.qty-box label {
	float: left;
	margin : 0 10px 0 0 ;
	line-height: 28px;
	font-weight: 300;
}

.qty-box-count {
	float: left;
	width: auto;
}


.qty-down, .qty-up {
	border : 1px solid #cccccc;
	float: left;
	height: 28px;
	line-height: 28px;
	text-align: center;
	width: 15px;
}
.qty-down:hover, .qty-up:hover {
	cursor: pointer;
	background-color: #181818;
	color : #fff;
}

#qty {
	width: 28px !important;
	border : 1px solid #cccccc;
	height: 28px;
	line-height: 28px;
	text-align: center;
	margin : 0 3px;
	padding : 0;
	float: left;
	font-size: 14px;
	font-weight: 400;
}

.price-box {
	font-size: 200%;
	font-weight: 300;
	color : #000;
}

.add-to-cart {
	background-color : #f0141e;
	border : none;
	width: auto;
	padding : 8px 15px;
	height: 40px;
	color : #fff;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	margin-bottom: 30px;

}
.add-comment{
	background-color : #f0141e;
	border : none;
	width: auto;
	padding : 8px 30px;
	height: 40px;
	color : #fff;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	margin-bottom: 30px;
}
.add-to-cart:hover,.add-comment:hover {
	background-color: #181818;

}

.add-to-cart i {
	margin-right: 15px;
}

/*SHORT DESCRIPTION */
.short-description ul{
	padding : 0 0 0 15px;
}
.short-description ul li {
	font-size: 13px;
	font-weight: 500;
}

.short-description ul li span {
	font-size: 13px;
	font-weight: 300;
}
.short-description p {
	font-size: 13px;
	font-weight: 400;
}

/*RIGHT SIDE */
/*.right-bar:after {
 	position: absolute;
 	width: 1px;
 	height: 100%;
 	background: #ddd;
 	content: '';
 	top: 0;
 	left: -1px;
 }*/
/*.right:before {
    position: absolute;
    width: 1px;
    height: 100%;
    background : #ddd;
    content : '';
    top: 0;
    left: 0;
}*/

.right {
	border-left: 1px solid #EEEEEE;
}
.right-side {
	width: 90%;
	margin : 0 5%;
}
/*BLOCK BANNER */
.block-banner {
	margin-bottom: 35px;
}
.block-banner img {
	width: 100%;
	height: 270px;
}

/*RELATED BOOKS*/
.block-related .block-title p {
	font-size: 90%;
	font-weight: 600;
	text-transform: uppercase;
	border-bottom: 1px solid #000;
	padding-bottom: 15px;
	color : #000;
}

.block-subtitle {
	font-size: 12px;
	font-weight: bold;
	margin-top: 22px;

}

.block-subtitle a {
	font-size: 12px;
	font-weight: bold;
	color : #f0141e;
	border : none;
}
.block-subtitle a:hover {
	border-bottom: 1px solid #f0141e;
}

/*MINI BOOK LIST*/
.mini-book-list {
	list-style: none;
	padding: 0;
}
.mini-book-list .item {
	margin : 25px 0;
	position: relative;
	height: 120px;
}
.mini-book-list .book {
	float: left;
}
.mini-book-list .book img{
	width: 80px;
	height: 120px;
}
.mini-book-list .item input {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translate(0, -50%);
}
.mini-book-list .item .book-detail {
	float: left;
	margin-left: 10px;
	text-align: left;
}
.mini-book-list .item .book-detail .name {
	margin: 0;
}
.mini-book-list .item .book-detail .name a {
	font-size: 100%;
	font-weight: 400;
}
.mini-book-list .item .book-detail .author {
	font-size: 83%;
	font-weight: 300;
	margin : 0 0 5px 0;
}
.mini-book-list .item .book-detail .mini-rating{
	margin-bottom: 5px;
	font-size: 10px;
	color :#f9ac20;
}

.mini-book-list .item .book-detail .price {
	font-size: 100%;
	font-weight: 400;
	color : #000;
}
.mini-book-list .item .book-detail .add-to-wishlist a{
	font-size: 13px;
	font-weight: 300;
	color : #f0141e;
	border : none;
}
.mini-book-list .item .book-detail .add-to-wishlist a:hover{
	border-bottom: 1px solid #f0141e;
}

/*PRODUCT DESCRIPTION */
.tab-books {
	width: 100%;
	height: 280px;
	margin-top: 60px;
	border : 1px solid #f0f0f0;
}

.tab-books .book-nav {
	width: 25%;
	height: auto;
	float: left;
}

.tab-books .box {
	width: 75%;
	float: left;
	height: 280px;
	padding: 30px;
	border : 1px solid #f0f0f0;
	border-top: 0;
	border-left: 0;
}
.book-nav ul {
	padding: 0;
	height: 58px;
	height: auto;

}
.book-nav ul li {
	list-style: none;
	text-decoration: none;
	height: 58px;
	width: 100%;
	text-align: left;
	background-color: #f5f5f5;
	padding:0;
	text-transform: uppercase;
	border : 1px solid #f0f0f0;
	border-top: 0;
	border-right: 0;
}
.book-nav ul li.active {
	background-color: transparent;
	border-left-color: #000;
}

.book-nav .nav-tabs>li>a{
	font-size: 13px ;
	font-weight: 400;
	border : 0;
	padding: 0 20px;
	line-height: 58px;
	text-decoration: none;
	width: 100%;
	height: 58px;
}




/*customize tab nab bootstrap*/
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	color : #f0141e;
	/*	border-left: 1px solid #000;*/
	background-color: inherit;
	border : 0;
}
.nav>li>a:focus, .nav>li>a:hover {
	background-color : transparent;
}

.box #description p{
	font-size: 14px;
}
.box span {
	font-size: 34px;
	font-weight: 400;
}

/*INTERESTED BOOKS SELL*/
.interested-books {
	width: 100%;
	height: 400px;
}

.interested-title {
	font-size: 19px;
	font-weight: 400;
	color : #000;
	margin-bottom: 20px;
}

.product-grid {
	list-style: none;

	display: block;
	padding: 0;
}

/*.interested-books .item:first-child {*/
	/*margin-left: 0 !important;*/
/*}*/
.interested-books .item {
	width: 20%;
	float: left;
	margin: 0 10px;
}
.interested-books .product-image {
	margin-bottom: 15px;
	border: 1px solid transparent;
	box-shadow: 0 0 3px #E0E0E0;
}
.interested-books .product-image:hover {
	border: 1px solid #ccc;

}

.interested-books .product-image a img{
	width: 95%;
	height: 95%;
	/*padding: 2.5%;*/
	margin: 2.5%;
}

.product-information .mini-rating {
	font-size: 11px;
}

.product-information .name {
	font-weight: 700;
	font-size: 15px;
	color : #000;
	margin-bottom: 5px;
}
.product-information .name a{
	font-weight: 700;
	font-size: 15px;
}
.product-information .author {
	margin-bottom: 5px;
}
.product-information .price {
	font-size: 14px;
	font-weight: 700;
}
.product-information .quick-view {
	color : #f0141e;
	text-align: center;
	font-size: 13px;
	font-weight: 300;
}
.product-information .quick-view:hover {
	border-bottom: 1px solid #f0141e;
}

/*SPOTLIGHT MAP */
.spotlight {
	margin-top: 30px;
	background-color: #181818;
	width: 100%;
	height: auto;
	padding: 40px 0 0 0 ;
}

/*.spotlight-left {
	border-right: 1px solid #333;
}*/
/*border css*/
.spotlight-left:after {
	content: '';
	width: 1px;
	height: 100%;
	background-color: #333;
	position: absolute;
	top: 0;
	right: 20px;
}

.spotlight-right:before {
	content : '';
	position: absolute;
	top: 0;
	left: 5px;
	width: 1px;
	height: 100%;
	color : #f0f0f0;
}
/*.list-shipping {
	padding:  0;
}
.list-shipping li {
	line-height: 30px;
	list-style: none;
	cursor: pointer;
    float: left;
    margin: 0 0 40px 0;
    width: 100%;

}*/

/*.list-shipping em {
	background: #333;
    color: #fff;
    display: block;
    float: left;
    font-size: 115%;
    height: 14px;
    margin: 0 20px 0 0;
    padding: 30px 0;
    text-align: center;
    width: 50px;
}*/
/*.icon-plane {
	line-height: normal;
}
.list-shipping em::before {
	content: "\f072";
	font-family: 'FontAwesome';
}*/
/*.shipping-item .title {
	 color: #F0141E;
    display: block;
    line-height: 100%;
    margin: 0 0 5px;
}*/

/*.shipping-item .desc {
	color : #777;
	font-size: 13px;
}
*/
/*spotlight right*/
.spotlight-header {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 400;
	color : #fff;
}
.spotlight-links ul {
	padding : 0;

}

.spotlight-links ul li {
	list-style: none;
	color : #777;
	margin : 12px 0;

}
.spotlight-links ul li a:hover {
	color : #fff;
	cursor : pointer;

}
.spotlight-links ul li a{
	color : #777;
	font-size: 14px;
	font-weight: 500;
}
.spotlight-links .mail-to {
	color : #fff;
}
.spotlight-links .mail-to:hover {
	color : #f0141e;
}

footer {
	background-color: transparent;
	width: 100%;
	height: 60px;
	border-top: 1px solid #333;
}
.design-by {
	height: 60px;
	line-height: 60px;
	color: #777;
	font-size: 11px;
	font-weight: 300;
}
.design-by a {
	font-size: 12px;
	color : #f0141e;
	font-weight: 400;

}
.design-by a:hover {
	color : #fff;
	border-bottom: 1px solid #fff;
}
/*red color #f0141e*/
/*section border color EEEEEE*/