@media only screen and (max-width: 980px){
	 .book-grid {
	 	width: 30%;
	 	height: 100%;
	 	float: left;
	 	margin:0 1.66%;
	 }
	 .product-img img{
	 	height:150px;
	 }
	 .product-name a,.product-information p{
	 	white-space: nowrap;
	 	overflow: hidden;
	 	text-overflow: ellipsis;
	 }
	 .interested-books .item{
	 	display: block;
	 	width:43%;
	 }
	 .interested-books .product-information{
	 	width:70%;
	 }
	.block-banner{
		clear:both;
	}

	 .nav-items {
	 	display: none;
	 }
	 
	 .my-nav .toggle-btn {
	 	display: block;
	 }
	 .my-nav .toggle-btn:hover{
	 	cursor: pointer;
	 }
	 .container{
	 	padding-top: 20px;
	 	/*height: auto;*/
	 }
	 #home{
	 	height:250px!important;
	 }
	 .carousel-indicators{
	 	top:270px;
	 }
}

@media (min-width: 980px){
	#sidebar{
		display: none;
	}
}