
.main-gallery {
	width: 100%;
}

.gallery-cell {
  width: 30%;
  height: 400px;
  margin: 0 1.66%;
/*  margin-right: 10px;*/
  background: white;
  counter-increment: gallery-cell;
  border : 1px solid gray;
}

.circle {
	width: 150px;
	height: 150px;
}

/* position dots in gallery */
.flickity-page-dots {
  bottom: -30px;
}
/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background : red !important ;
  border: 2px solid white;
}

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: #26a69a;
}

.carousel-member {
	text-align: center;
	padding-top: 30px;
}

.carousel-member .img {
	width: 150px;
	height: 150px;
}
