
* {
	font-size: 14px;
	font-weight: 300;
	font-family: 'Roboto';
}


h1 {
	font-size: 120%;
	font-weight: 700;
}
h2 {
	font-size: 120%;
	font-weight: 500;
}
h4 {
	font-size: 16px;
}
p {
	margin : 0;
}

.navbar {
	margin-bottom: 0;
}
.navbar-brand {
	padding: 0;
	margin-right: 20px;
}
.navbar-brand img {
	height: 70px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color : red;
}

.flickity-page-dots .dot {
	background: transparent;
	border : 1px solid #333;
	opacity: 1;

}
.flickity-page-dots .dot.is-selected {
	background: #f0141e;
	border-color: #f0141e;
}

/*============*/
/*MY NAV */
/*============*/
.my-nav {
	width: 100%;
	height: 60px;
	background: #f0141e;
	z-index: 20;
	top: 0;
	position: fixed;
	margin-bottom: 30px;
}

.logo {
	height: 60px;
	width: auto;
	float: left;
	margin-right: 100px;
	margin-top: 5px;
}
.nav-container {
	width: 80%;
	margin: 0 auto;
}
.nav-items {
	margin: 0;
	list-style: none;
}
.nav-items li {
	display: block;
	margin: 0;
	float: left;
}
.nav-items li a {
	color : #fff;
	display: block;
	border-right: 1px solid #d8121b;
	line-height: 60px;
	padding: 0 20px 0 20px;
}
.nav-items li:last-child a{
	border:0px;
	/*border-right:1px solid #d8121b;
	border-left: 1px solid #d8121b;*/
	padding:0px 25px;
	left:15px;
	font-size:25px;
}

/*.badge:after {
	  content: attr(data-count);
	  position: absolute;
	  background: #ff6600;
	  height: 2rem;
	  top: 1rem;
	  right: 1.5rem;
	  width: 2rem;
	  text-align: center;
	  line-height: 2rem;
	  font-size: 1rem;
	  border-radius: 50%;
	  color: white;
	  border: 1px solid #ff6600;
	  font-family: sans-serif;
	  font-weight: bold;
}*/
.nav-items li a:focus,.nav-items li a:hover, .nav-items li a.active {
	background-color: #d8121b;
	color : #fff;
	text-decoration: none;
	outline : none;
}


/*======================*/
/* SIDEBAR MOBILE SCREEN*/
/*======================*/
#sidebar * {
	margin: 0;
	padding: 0;
	color : #fff;
}
#sidebar {
	display: block;
	position: fixed;
	width: 200px;
	z-index: 5;
	height: 100%;
	background-color: #151719;
	top:60px;
	left: -200px;
	transition:all .5s ease-in-out;
}

#sidebar ul li {
	text-align: center;
	color : #fff;
	list-style: none;
	padding : 15px 10px;
	border-bottom: 1px solid rgba(100,100,100, 0.3);
}

#sidebar.active {
	left: 0px;
}

/*nav toggle button */
.toggle-btn {
	display: none;
	position: absolute;
	top: 10px;
	right: 30px;

	width: 30px;
	height: 40px;
}
.toggle-btn span {

	width: 30px;
	height: 10%;
	display: block;
	margin: 11.66% 0;
	background-color: black;

}

/*===========*/
/* HOME */
/*===========*/
#home {
	margin-top: 60px;
	height: 90vh;
	
}
#home img {
	width: 100%;
	height: 100%;
}

#home .carousel-inner {
	height: 90vh;
}
#home .carousel-control.right, .carousel-control.left {
	background-image: none ;
}
#home .carousel-indicators .active {
	background-color: red;
	border: none;
}

#home .carousel-indicators li {
	border : 1px solid black;
}

.myanmar-text h1, .myanmar-text h4, .myanmar-text h5 {
	font-family:Myanmar3,Yunghkio,'Masterpiece Uni Sans';
}

.slide-1-heading {
	text-align: center;
    width: 300px;
	margin-top: 50%;
	margin-left: 50%;
	transform: translate(-50%, -50%);
}
.slide-1-heading h1 {
	color : red;
	margin-top: 0;
	margin-bottom: 20px;
}



/*BUTTONS*/
.btn {
	width: 100px;
	margin-top: 20px;
	border-radius: 0;
}

.btn-full {
	background-color: red;
	color : #fff;
	border : 1px solid red;
}
.btn-full:hover {
	background-color: #d8121b;
	color : #fff;
	transition: background 0.3s;
}

.btn-ghost {
	background-color: transparent;
	color : red;
	border : 1px solid red;
}
.btn-ghost:hover {
	background-color: red;
	color : #fff;
	transition: background 0.3s;
}

/*===========*/
/* SECTION 2 */
/*===========*/

#section-2 {
	padding-top: 20px;
}
 #section-2 img {
 	height: 220px;
 	margin: 0 auto;
 }

/* #section-2 .item {
 	background-color: green;
 	width: 30%;
 }*/
 /*#section-2 .carousel-cell {
 	border: 1px solid black;
 }*/

 .book-detail {
 	text-align: center;
 }
 .countBtn{
 	margin:0px;
 	width:25px;
 	height: 28px;
 	padding:5px;
 	line-height:10px;
 }
 .book-detail h4 {
 	color : red;
 	text-transform: capitalize;
 }

/* FLICKITY CSS */
.carousel-cell {
	/*display: inline-block;*/
	width:145px;
	max-width: 145px;
	/*display: block;*/
	text-align: center;
	margin : 0 20px;
}
 /*   edit   */
.carousel-cell img{
	width:145px;
	height:220px;
}
 /*   edit   */

 .flickity-prev-next-button {
 	background : transparent;
 }

 .flickity-prev-next-button.previous {
 	left : -50px;
 }

 .flickity-prev-next-button.next {
 	right: -50px;
 }

 /*=============*/
 /*SECTION 3*/
 /*============*/
 #section-3 {
 	padding-top: 20px;
 }
 hr {
 	color : black;
 }

 .section-3-row {
 	
 }
 /******** Edit *******/
 #section-3 .heading{
 	font-size: 120%;
 	font-weight: 700;
 	border-bottom: 1px solid black;
 	padding-bottom: 15px;
 }

 
 /******** Edit *******/
 .left-bar ul {
 	list-style: none;
 	padding: 0;
 }
 .left-bar li {
 	height: 40px;
 }
 .left-bar li:hover {
 	color : red;
 	cursor: pointer;
 }
 .left-bar li p {
 	line-height: 40px;
 }

 .right-bar img {
 	width: 100%;
 	height: 100%;
 }
 .right-bar .row {
 	margin: 20px 0;
 }
 .right-bar:after {
 	position: absolute;
 	width: 1px;
 	height: 100%;
 	background: #ddd;
 	content: '';
 	top: 0;
 	left: -1px;
 }
 .new-products-text {
 	border-bottom: 1px solid #000;
 	padding-bottom: 20px;
 	font-size: 100%;
 	font-weight: 700;
 }

 .book-grid {
 	width: 20%;
 	height: 100%;
 	float: left;
 	margin:18px 2%;
 }
 /*  start edit   */
.item{
 	padding-bottom: 30px;
 }
 .mini-book-list .item{
 	width:100%;
 	height:auto;
 }
.tab-books .book-nav .nav-tabs li{
	line-height: 58px;
	text-align: center;
	color:#F0141E;
}
.mini-book-list .item p{
	width:76px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
} 
 
 .product-image{
 	width:134px;
 	height:203px;
 }
  /*  end edit   */

 .product-img a {
 	display: block;
 }
/*   Edit   */
.product-img {
	padding: 4px;
	border : 1px solid transparent;
	
}
.product-img img{
	width:100%;
	height:250px;
}
/*   Edit   */
 .product-img:hover {
 	border : 1px solid #bbb;
 	transition: border 0.5s;
 }
 .book-grid .book-des {
 	padding-left: 4px;
 }
 .product-name 
 .product-name {
 	width: 100%;
 	font-size: 15px;
 	height: 18px;
 	margin: 8px 0 5px 0;
 }
 .product-name a {
 	font-size: 14px;
 	font-weight: 400;
 	width:100%;
 }
 .product-price {
 	color : red;
 }
 .author {
 	font-size: 90%;
 }
 

 a {
 	color : #000;
 	position: relative;
 }
 a:hover {
 	text-decoration: none;
 	color :red;
 	cursor: pointer;
 }
 
/*.pull-right {
    color : red;
}*/

 /*footer {
 	background-color: black;
 	height: 100px;
 }*/

/*SPOTLIGHT MAP */

/********* EDIT ********/
.spotlight {
	margin-top: 30px;
	background-color: #181818;
	width: 100%;
	height:auto;
	padding: 40px 0 0 0 ;
}
/********* EDIT ********/

/*.spotlight-left {
	border-right: 1px solid #333;
}*/
.spotlight-left:after {
	content: '';
	width: 1px;
	height: 100%;
	background-color: #333;
	position: absolute;
	top: 0;
	right: 20px;
}

.spotlight-right:before {
	content : '';
	position: absolute;
	top: 0;
	left: 5px;
	width: 1px;
	height: 100%;
	color : #f0f0f0;
}
.list-shipping {
	padding:  0;
}
.list-shipping li {
	line-height: 30px;
	list-style: none;
	cursor: pointer;
    float: left;
    margin: 0 0 40px 0;
    width: 100%;

}

.list-shipping em {
	background: #333;
    color: #fff;
    display: block;
    float: left;
    font-size: 115%;
    margin: 0 20px 0 0;
    padding: 19px 0;
    text-align: center;
    width: 50px;
}
.icon-plane {
	line-height: normal;
}
.list-shipping em::before {
	content: "\f072";
	font-family: 'FontAwesome';
}
.shipping-item .title {
	 color: #f0141e;
    display: block;
    line-height: 100%;
    margin: 0 0 5px;
}


.shipping-item .desc {
	color : #777;
	font-size: 13px;
}
.shipping-item:hover em {
	background-color: #000;
}

/*spotlight right*/
.spotlight-header {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 400;
	color : #fff;
}
.spotlight-links ul {
	padding : 0;
	
}

.spotlight-links ul li {
	list-style: none;
	color : #777;
	margin : 12px 0;

}
.spotlight-links ul li a:hover {
	color : #fff;
	cursor : pointer;
	
}
.spotlight-links ul li a{
	color : #777;
	font-size: 14px;
	font-weight: 500;
}
.spotlight-links .mail-to {
	color : #fff;
}
.spotlight-links .mail-to:hover {
	color : #f0141e;
}

footer {
	background-color: transparent;
	width: 100%;
	height: 60px;
	border-top: 1px solid #333;
}
.design-by {
	height: 60px;
	line-height: 60px;
	color: #777;
	font-size: 11px;
	font-weight: 300;
}
.design-by a {
	font-size: 12px;
	color : #f0141e;
	font-weight: 400;

}
.design-by a:hover {
	color : #fff;
	border-bottom: 1px solid #fff;
}

/******** Start *******/

.checked{
	color:yellow;
}
.rating{
	text-align: center;
	padding-bottom: 50px;
}

.btn-danger{
	border-radius:4px;
}

/*.md-content{
	background-color:white !important;
}*/


/*********** Modal Start ***************/
.modal{
	text-align: center;
}
#commentModal .modal-dialog{
	width:25%;
}
#deleteModal .modal-dialog{
	width:19%;
}
#editModal .modal-dialog{
	width:20%;
}
.modal .close:hover{
	background-color:#FFF;
}
.modal .rating{
	margin:0;
}
.modal .checked{
	color:gold;
}
#modal-name{
		margin-top:0px;
		margin-right:10px;
		margin-left: 10px;
		width:90%;
		height:50px;
		font-size:16px;
		box-shadow: inset 0 -1px 0px rgba(3, 3, 3, 0.1);
		
		border:0px;
		border-radius:0px;
	/*	border-bottom: 1px solid #ECECEC;*/
		margin-top: 7px;
		transition:box-shadow .5s ease-in-out;
		-webkit-transition:box-shadow .5s ease-in-out;
		-moz-transition:box-shadow .5s ease-in-out;
		-o-transition:box-shadow .5s ease-in-out;
}
.modal-header,.modal-footer{
	border:none;
}

.modal-header h4{
	font-size:20px;
	letter-spacing:2px;
}
#modal-name:focus{
	box-shadow: inset 0 -1px 0px cyan;
}


/************ Modal End ****************/




/********* Start Order Form  ***********/

#order_form{
	padding-top:100px;
	/*background-image: url('../imgs/harry1.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	position:absolute;*/
}

/*th{
	text-align: center;
	line-height:50px!important;
	background-color:#F0141E;
	font-weight: bold;
	color:#FFF;
}*/

.next{
	
}
textarea{
	resize:vertical;
}
#order_form .col-md-12 .heading{
	font-size: 150%;
	text-transform:uppercase;
 	font-weight: 700;
 	border-bottom: 1px solid black;
 	padding-bottom: 15px;
}


legend{
	font-size:2.5rem;
	font-weight: bold;
	letter-spacing:.1rem;
}
#order_form .btn-ghost{
	border-radius:4px;
}
.well{
	border:1px solid #CCC;
	border-radius:0px;
	background-color:#FFF;
	box-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,0.1);
	letter-spacing:.1rem;
}
.well-left-1 li{
	list-style: none;
	
}
#order_border{
	border-bottom: 0 !important;
}
.well-left-1 li a{
	display:block;
	border-bottom: 0.1rem solid #f0f0f0;
	padding:.5rem;
}
.well-left-1 li a:hover{
	background-color: #f0f0f0;
}
.well-left-1 ul{
	padding:0px;
}
.well input{
	border-radius: 0px;
}
/*#middle_div{
	color:#FFF;
	position: relative;
	background-image: url('../imgs/book.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 110%;
	width:100%;
	min-height:200px;
	margin-bottom: 20px;

	transition:all -7s ease-in-out;
	-moz-transition: all .7s ease-in-out;
	-webkit-transition:all .7s ease-in-out;
	
	

}
#middle_div h2{
	font-size:5rem;
	font-weight: bold;

	width:100%;
	position: absolute;
	top:32%;
	left:45%;
	line-height: 1;
	
}
#middle_div:hover{
	
	background-size: 100%;
	transition:all -7s ease-in-out;
	-moz-transition: all .7s ease-in-out;
	-webkit-transition:all .7s ease-in-out;
}*/
.scrolling{
	
	
	position:fixed;
	width:50px;
	height:50px;
	bottom:30px;
	right:30px;
	background-color:#F0141E;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	z-index: 999;
	display:none;

}
#next_btn{
	
	font-size:1.5rem;
	
}
.order_next_a_tag{
	color:red;
}
.table_div{
	margin-bottom: 10px;
	border:solid #F9F9F7;
	padding:1.5rem;
	border-width: .2rem;
}
.table_div th,.table_div td{
	height:50px;
	line-height:50px!important;
}
.table_div ul li{
	float:left;
	list-style: none;
	width:50px;

}
.table_div a{
	font-size:22px;
	text-align: center;
	
}
.table_div .fa-trash{
	color:#F0141E;
}
.table_div .fa-trash:hover{
	color:#000;
}
.order_save_btn{
	margin-bottom:20px;
	text-transform:uppercase;
}
#srch-term{
	width:100%;
	height:50px;
	font-size:16px;
	box-shadow: inset 0 -1px 0px rgba(3, 3, 3, 0.1);
	
	padding: 12px 20px 17px 40px;
	border:0px;
	border-radius:0px;
/*	border-bottom: 1px solid #ECECEC;*/
	margin-top: 7px;
	transition:box-shadow .5s ease-in-out;
	-webkit-transition:box-shadow .5s ease-in-out;
	-moz-transition:box-shadow .5s ease-in-out;
	-o-transition:box-shadow .5s ease-in-out;
	
}


#srch-term:focus{
	box-shadow: inset 0 -1px 0px #000;
}

/*input::-webkit-input-placeholder {
    color: #999;
}
input:focus::-webkit-input-placeholder {
    color: red;
}*/

/* Firefox < 19 */
/*input:-moz-placeholder {
    color: #999;
}
input:focus:-moz-placeholder {
    color: #000;
}
*/
/* Firefox > 19 */
/*input::-moz-placeholder {
    color: #999;
}
input:focus::-moz-placeholder {
    color: #000;
}
*/
/* Internet Explorer 10 */
/*input:-ms-input-placeholder {
    color: #999;
}
input:focus:-ms-input-placeholder {
    color: #000;
}*/
#srch-but{
	position: absolute;
    top: -999px;
    left: -999px;
    width: 0px;
    height: 0px;
}

/********* End Order Form  ***********/


/*********** Start Edit tab-books ***********/
.tab-books{
	border:none!important;
}
.tab-books .box{
	height:auto !important;
	border:1px solid #F5F5F5!important;
	margin-bottom:50px;
}
/*********** End Edit tab-books *************/


/******* End*********/